In [2]:
import numpy as np
import pandas as pd
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
from google.colab import files

uploaded = files.upload()

Saving Data Thailand HR_analysis.xlsx to Data Thailand HR_analysis.xlsx

In [0]:
data_file = pd.ExcelFile('Data Thailand HR_analysis.xlsx')

mainDF = pd.read_excel(data_file, 'For Model_to export_v3')
edu_Allowance = pd.read_excel(data_file, 'Education allowance')
education = pd.read_excel(data_file, 'Education')

In [0]:
mainDF.drop([ 'Gender', 'Supervisor Serial', 'SUP-Gender (before)',
       'SUP-Gender', 'Re-Entry?', 'Active?', 'MPT?', 'Ed Allowance?',
       'House Loan?', 'Resign?', 'Birthday', 'Entry Date', 'Action Date',
       'SUP-Birthday', 'SUP-Entry Date', 'SUP-Action Date', 'SUP-Active?',
       'Earliest Action Date', 'Age @Action','SUP-Age @Action',
       'SUP-Exp @Action'], axis=1, inplace=True)

In [0]:
rename_col = {
    'Exp @Action':'EmpExp'
}
mainDF.rename(rename_col, axis=1, inplace=True)

In [56]:
mainDF.head()

   Serial Number     EmpExp
0              1  43.778082
1              2  38.356164
2              3  39.654795
3              4  38.273973
4              5  39.104110

In [0]:
listOfEduUsed = edu_Allowance['Serial Number'].unique()

In [0]:
mainDF['isEduAllowanceUsed'] = np.where(mainDF['Serial Number'].isin(listOfEduUsed),1,0)

In [0]:
mainDF['NewAndNotTakeMaster'] = np.where((mainDF['EmpExp'] <5) & (mainDF['isEduAllowanceUsed'] ==0),1,0)

In [60]:
mainDF.head()

   Serial Number     EmpExp  isEduAllowanceUsed  NewAndNotTakeMaster
0              1  43.778082                   0                    0
1              2  38.356164                   0                    0
2              3  39.654795                   0                    0
3              4  38.273973                   0                    0
4              5  39.104110                   0                    0

In [0]:
import re

In [62]:
education.head()

,Serial Number,Start Date (0022),End Date (0022),Institute/location,Certificate Text,Branch of study 1 Text
0,1,1950-01-01,1953-01-01 00:00:00,SUANKWONG SCH.,Attended,General Studies
1,2,1953-01-01,1957-01-01 00:00:00,VIENGPROU VITHAYA SCH.,Attended,No Specific Branch
2,3,1949-01-01,1952-01-01 00:00:00,WADTEPSIRIN SCH.,Attended,No Specific Branch
3,4,1956-01-01,1959-01-01 00:00:00,WATTANA VITHAYA ACADEMY.,Attended,Education
4,5,1956-06-01,1960-03-31 00:00:00,THAMMASAT UNIVERSITY,Bachelor,Business-Economics

In [0]:
edu_patterns = {
    'UNIV' : r'UNIV\.|\WU\.|^U\.|UNIV|ERSITY|UNI$',
    'SCHL' : r'SCH\S|\WSCH$|SUKSA',
    'INST' : r'\WINST|^INST',
    'COLL' : r'\WCOLL|^COLL|COL$|COLLEGE',
    'CAMP' : r'C..PUS',
    'ACAD' : r'ACAD',
    'NIDA' : r'NIDA',
    'SASI' : r'SASIN',
}

for name, patt in edu_patterns.items():
    education.loc[education['Institute/location'].str.contains(patt), 'Max_EduInstituteGroup'] = name
    
    education['Max_EduInstituteGroup'].fillna('OTHR', inplace=True)

In [0]:
def remove_Suffix(institute):
        edu_patterns = {
            'UNIV' : r'UNIV\.|\WU\.|^U\.|UNIV|ERSITY|UNI$',
            'SCHL' : r'SCH\S|\WSCH$|SUKSA',
            'INST' : r'\WINST|^INST',
            'COLL' : r'\WCOLL|^COLL|COL$|COLLEGE',
            'CAMP' : r'C..PUS',
            'ACAD' : r'ACAD',
            'UNIV' : r'NIDA',
            'UNIV' : r'SASIN',
        }
        for name, patt in edu_patterns.items():
              #temp = institute.replace(patt, '')
          regexp = re.compile(patt)
          if(regexp.search(institute)):
              temp = re.sub(patt,'',institute)
              return temp;

In [71]:
education['Institute/location'] = education['Institute/location'].apply(remove_Suffix)

TypeError: ignored

In [72]:
education.head()

,Serial Number,Start Date (0022),End Date (0022),Institute/location,Certificate Text,Branch of study 1 Text,Max_EduInstituteGroup
0,1,1950-01-01,1953-01-01 00:00:00,SUANKWONG,Attended,General Studies,SCHL
1,2,1953-01-01,1957-01-01 00:00:00,VIENGPROU VITHAYA,Attended,No Specific Branch,SCHL
2,3,1949-01-01,1952-01-01 00:00:00,WADTEPSIRIN,Attended,No Specific Branch,SCHL
3,4,1956-01-01,1959-01-01 00:00:00,WATTANA VITHAYA EMY.,Attended,Education,ACAD
4,5,1956-06-01,1960-03-31 00:00:00,THAMMASAT,Bachelor,Business-Economics,UNIV

In [0]:
import string

In [0]:
def removeDot(institute):
  return institute.replace('.','')

In [77]:
education['Institute/location'] = education['Institute/location'].replace({'\.':''})

education.head(10)

,Serial Number,Start Date (0022),End Date (0022),Institute/location,Certificate Text,Branch of study 1 Text,Max_EduInstituteGroup
0,1,1950-01-01,1953-01-01 00:00:00,SUANKWONG,Attended,General Studies,SCHL
1,2,1953-01-01,1957-01-01 00:00:00,VIENGPROU VITHAYA,Attended,No Specific Branch,SCHL
2,3,1949-01-01,1952-01-01 00:00:00,WADTEPSIRIN,Attended,No Specific Branch,SCHL
3,4,1956-01-01,1959-01-01 00:00:00,WATTANA VITHAYA EMY.,Attended,Education,ACAD
4,5,1956-06-01,1960-03-31 00:00:00,THAMMASAT,Bachelor,Business-Economics,UNIV
5,6,1949-01-01,1953-01-01 00:00:00,WADCHAENG,Attended,No Specific Branch,SCHL
6,7,1959-06-01,1961-08-30 00:00:00,TECHNICAL TRAINING OL,Diploma,Other Degree,SCHL
7,8,1956-01-01,1959-01-01 00:00:00,BANGKOK COMMERCIALEGE,Attended,Finance/Accounting,COLL
8,8,1958-01-01,1961-01-01 00:00:00,BANGKOK TECHNICALITUTE,Attended,Finance/Accounting,INST
9,9,1944-01-01,1948-01-01 00:00:00,RONGKAE,Attended,No Specific Branch,SCHL

In [87]:
education[education['Max_EduInstituteGroup' == 'UNIV']]

KeyError: ignored