In [1]:
import numpy as np
import pandas as pd
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 2.5MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [2]:
from google.colab import files

uploaded = files.upload()

Saving Data Thailand HR_analysis.xlsx to Data Thailand HR_analysis.xlsx

In [0]:
data_file = pd.ExcelFile('Data Thailand HR_analysis.xlsx')

MainDF = pd.read_excel(data_file, 'For Model_to export_v3')
Edu_Allowance = pd.read_excel(data_file, 'Education allowance')

In [0]:

rename_col = {
    'Serial Number':'SerialNumber',
    'Exp@Action':'EmpExp'
}
MainDF.rename(rename_col, axis=1, inplace=True)


listOfEduUsed = Edu_Allowance['Serial Number'].unique()

In [0]:
MainDF['isEduAllowanceUsed'] = np.where(MainDF['SerialNumber'].isin(listOfEduUsed),1,0)

In [0]:
MainDF['NewAndNotTakeMaster'] = np.where((MainDF['Exp @Action'] <5) & (MainDF['isEduAllowanceUsed'] ==0),1,0)

In [172]:
MainDF.head()

,SerialNumber,Gender,Supervisor Serial,SUP-Gender (before),SUP-Gender,Re-Entry?,Active?,MPT?,Ed Allowance?,House Loan?,...,SUP-Entry Date,SUP-Action Date,SUP-Active?,Earliest Action Date,Age @Action,Exp @Action,SUP-Age @Action,SUP-Exp @Action,isEduAllowanceUsed,NewAndNotTakeMaster
0,1,M,364.0,M,M,NO,NO,YES,NO,NO,...,1981-04-01,2001-11-01,NO,OK,60.126027,43.778082,45.115068,17.59726,0,0
1,2,M,NaN,NaN,NaN,NO,NO,YES,NO,NO,...,NaT,NaT,NaN,OK,56.205479,38.356164,0.000000,0.00000,0,0
2,3,M,NaN,NaN,NaN,NO,NO,NO,NO,NO,...,NaT,NaT,NaN,OK,60.041096,39.654795,0.000000,0.00000,0,0
3,4,F,NaN,NaN,NaN,NO,NO,YES,NO,NO,...,NaT,NaT,NaN,OK,58.202740,38.273973,0.000000,0.00000,0,0
4,5,M,NaN,NaN,NaN,NO,NO,YES,NO,NO,...,NaT,NaT,NaN,OK,61.120548,39.104110,0.000000,0.00000,0,0

In [0]:
import re

In [0]:
def remove_Suffix(institute):
        edu_patterns = {
            'UNIV' : r'UNIV\.|\WU\.|^U\.|UNIV|ERSITY|UNI$',
            'SCHL' : r'SCH\S|\WSCH$|SUKSA',
            'INST' : r'\WINST|^INST',
            'COLL' : r'\WCOLL|^COLL|COL$|COLLEGE',
            'CAMP' : r'C..PUS',
            'ACAD' : r'ACAD',
            'NIDA' : r'NIDA',
            'SASI' : r'SASIN',
        }
        for name, patt in edu_patterns.items():
              #temp = institute.replace(patt, '')
          regexp = re.compile(patt)
          if(regexp.search(institute)):
              temp = re.sub(patt,'',institute)
              return temp;

In [0]:
EDU['Institute/location'] = EDU['Institute/location'].apply(remove_Suffix)

In [142]:
EDU.head()

,Serial Number,Start Date (0022),End Date (0022),Institute/location,Certificate Text,Branch of study 1 Text
0,1,1950-01-01,1953-01-01 00:00:00,SUANKWONG,Attended,General Studies
1,2,1953-01-01,1957-01-01 00:00:00,VIENGPROU VITHAYA,Attended,No Specific Branch
2,3,1949-01-01,1952-01-01 00:00:00,WADTEPSIRIN,Attended,No Specific Branch
3,4,1956-01-01,1959-01-01 00:00:00,WATTANA VITHAYA EMY.,Attended,Education
4,5,1956-06-01,1960-03-31 00:00:00,THAMMASAT,Bachelor,Business-Economics

In [0]:
import string

In [0]:
def removeDot(institute):
  return institute.replace('.','')

In [148]:
EDU['NewInstitute'] = EDU['Institute/location'].apply(removeDot)
EDU.head(10)

AttributeError: ignored